# Dataset
data/ShanghaiTech/part_A/
data/ShanghaiTech/part_B/
data/ShanghaiTech/*.json
data/ShanghaiTech/folds/
data/ShanghaiTech/labels/

# Training runs
runs/

# Dependencies
ultralytics_repo/
__pycache__/
*.pyc

# Others
train_log.txt
results.zip
.ipynb_checkpoints/
